@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
  font-size: inherit;
}

header {
  background-color: #1f2937;
  padding: 16px 0;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

.menu li:first-child {
  margin-right: auto;
}

.menu a {
  color: #e5e7eb;
}

.menu {
  /* outer layout */
  max-width: 960px;
  margin: 0 auto;
  /* inner layout */
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  max-width: 960px;
  margin: 0 auto;
}

.wrapper > div {
  width: 460px;
}

.wrapper p {
  margin-bottom: 16px;
}

.hero-img {
  height: 200px;
  background-color: #6e747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-hero {
  font-size: 48px;
  font-weight: 900;
}

.txt-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.btn-primary {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 36px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.info {
  min-height: 400px;
  padding-top: 32px;
}

.txt-info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 32px;
}

.sm-img {
  border: 3px solid #3882f6;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.card {
  width: 150px;
}

.card p {
  margin-top: 8px;
  color: #828893;
}
